.words-container-component {
    //display: flex;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 2fr 1fr;
    gap: 8px; /* Adjust the gap between grid items as needed */
    width: 100%;
    margin-left: 200px;
    //justify-content: flex-end;

    // .cell-container {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content:center;
    //     align-items: center;


        .cell {
            background-color: #FD5A46;
            display: flex;
            align-items: center;
            justify-content: center;
            //margin: 10px;
            //padding: 10px;
            border-radius: 10px;
            width: 100%;
            min-height: 60px;
            font-size: 40px;
            text-transform: uppercase;
            font-weight: bold;
        }
    //}
}
.words-container-component.vertical {
    grid-template-columns: 80px 100px;
    grid-template-rows: repeat(6, 1fr);
    width: 200px;
    flex-wrap: wrap;
    height: 100%;
    margin: 0;
    .cell-container {
        flex-direction: row;
        
        .word-component {
            //writing-mode: vertical-lr;
        }
    }
}