.user-container {
    background-color: #058CD7;
    position: absolute;
    padding: 2% 4%;
    padding-top: 1%;
    //height: 15vh;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
        background-color: rgb(255, 255, 255, 0.4);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .user-coord {
        padding: 5px;
        background-color: #FFC567;
        font-size: 48px;
        border-radius: 10px;
        margin-top: -45px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    .username {
        padding-top: 10px;
        text-transform: uppercase;
        font-weight: bold;
    }
}
