.user-container {
    background-color: #058CD7;
    position: absolute;
    //left: 0;
    //top: 0;
    padding: 40px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    //border-radius: 0 0 20px 0;

    .icon {
        background-color: #FFF;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user-coord {
        background-color: #FFC567;
        width: 60px;
        height: 60px;
        border-radius: 10px;
        margin-top: -45px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    .username {
        padding-top: 10px;
        text-transform: uppercase;
        font-weight: bold;
    }
}
