.login-page {
    background: rgb(253, 90, 70);
    background: linear-gradient(180deg, rgba(253, 90, 70, 1) 35%, rgba(5, 140, 215, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: relative;

    .title {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 80px;
        
        p {
            color: white;
            text-shadow: 4px 1px 1px black;
        }
    }
    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        position: relative;

        .img-login {
            //width: 200px;
            border-radius: 50%;
        }
        .random-img {
            position: absolute;
            bottom: 0;
            background-color: #FFF;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4px;

            .icon {
                font-size: 32px;
            }
            
        }
    }
    .name {
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .button-row {
        width: 100vw;
        display: flex;
        justify-content: center;

        .button-container {
            width: 100%;
            margin: 30px 0;
            display: flex;
            justify-content: space-between;
            width: 500px;
        align-items: start;
        
        .game {
            background-color: #fb7da8;
            transition-duration: 0.2s;
            &:hover {
                background-color: #ffa0c0;
                transform: scale(1.05);
            }
        }
        .join {
            background-color: #ffc567;
            transition-duration: 0.2s;
            &:hover {
                background-color: #ffd48f;
                transform: scale(1.05);
            }
        }
        
    }
}
    
    .join-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        input {
            height: 70px;
            width: 150px;
            text-align: center;
        }
        
        button {
            background-color: #552CB7;
            margin-left: 10px;
            height: 70px;
            width: 130px;
            cursor: pointer;
            &:hover {
                background-color: #6a4ab6;
                height: 65px;
                width: 135px;
            }
        }
    }
    .waiting-room {
        position: absolute;
        right:  0;
    }
}

@media (max-width: 600px) {
    .login-page {
        .title {
            font-size: 14vw;
        }

        .image {
            .img-login {
                width: 50px
            }
        }

        .name {
            width: 100vw;
            padding: 10px;          
            input {
                width: 90vw;
                margin-right: 20px;
            }
        }

        .button-row {
            
            .button-container {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 10px;

                button {
                    width: 100%;
                    margin: 10px;
                }
            }
        }
    }
}
