* {
  margin: 0;
  padding: 0;
}

@keyframes breath {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.root-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(180deg, #552CB7 0%, #FFC567 100%);
}
.root-page .main-left {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  width: 100%;
}
.root-page .main-left .clue-btn {
  animation: breath 3s infinite;
  background-color: #fb7da8;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  border: none;
  font-size: 4vw;
  cursor: pointer;
  transition: 0.2s;
  font-family: inherit;
}
.root-page .main-left .clue-btn:hover {
  background-color: #f5447f;
  transform: scale(0.96);
}
.root-page .main-left .clue-btn:active {
  background-color: #f70e5c;
  transform: scale(0.92);
}
.root-page .center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.root-page .center .room-game {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin: 10px 10px 30px 10px;
  background-color: rgba(255, 248, 250, 0.231372549);
  border-radius: 20px;
  font-size: 30px;
}
.root-page .center .room-id {
  padding-left: 10px;
  font-size: 35px;
}
.root-page .center .tablero {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.1);
  width: 60vw;
  border-radius: 40px;
  padding: 15px;
}
.root-page .center .tablero .up {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.root-page .center .tablero .down {
  display: flex;
}
.root-page .center .tablero .down .right {
  width: 100%;
}
.root-page .main-right {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.login-page {
  background: rgb(253, 90, 70);
  background: linear-gradient(180deg, rgb(253, 90, 70) 35%, rgb(5, 140, 215) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.login-page .title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 80px;
}
.login-page .title p {
  color: white;
  text-shadow: 4px 1px 1px black;
}
.login-page .image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  position: relative;
}
.login-page .image .img-login {
  width: 200px;
  border-radius: 50%;
}
.login-page .image .random-img {
  position: absolute;
  bottom: 0;
  background-color: #FFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}
.login-page .image .random-img .icon {
  font-size: 32px;
}
.login-page .name {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-page .name input {
  height: 60px;
  width: 500px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.332);
  background-color: rgba(255, 255, 255, 0.16);
  text-indent: 10px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.login-page .name input::-moz-placeholder {
  font-weight: lighter;
  font-size: 20px;
}
.login-page .name input::placeholder {
  font-weight: lighter;
  font-size: 20px;
}
.login-page .button-row {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.login-page .button-row .button-container {
  width: 100%;
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  width: 500px;
  align-items: start;
}
.login-page .button-row .button-container button {
  height: 60px;
  width: 230px;
  border-radius: 15px;
  font-size: 30px;
  font-weight: bold;
  font-family: inherit;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.login-page .button-row .button-container button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.login-page .button-row .button-container .game {
  background-color: #fb7da8;
  transition-duration: 0.2s;
}
.login-page .button-row .button-container .game:hover {
  background-color: #ffa0c0;
  transform: scale(1.05);
}
.login-page .button-row .button-container .join {
  background-color: #ffc567;
  transition-duration: 0.2s;
}
.login-page .button-row .button-container .join:hover {
  background-color: #ffd48f;
  transform: scale(1.05);
}
.login-page .join-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.login-page .join-container input {
  height: 70px;
  width: 150px;
  text-align: center;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.332);
  background-color: rgba(255, 255, 255, 0.16);
  text-indent: 10px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.login-page .join-container input::-moz-placeholder {
  font-weight: lighter;
  font-size: 20px;
}
.login-page .join-container input::placeholder {
  font-weight: lighter;
  font-size: 20px;
}
.login-page .join-container button {
  background-color: #552CB7;
  margin-left: 10px;
  transition-duration: 0.2s;
  height: 70px;
  width: 130px;
  border-radius: 15px;
  font-size: 30px;
  font-weight: bold;
  font-family: inherit;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.login-page .join-container button:hover {
  background-color: #6a4ab6;
  height: 65px;
  width: 135px;
}

@media (max-width: 600px) {
  .login-page .title {
    font-size: 14vw;
  }
  .login-page .image .img-login {
    width: 100px;
  }
  .login-page .name {
    width: 100vw;
    padding: 10px;
  }
  .login-page .name input {
    width: 90vw;
    margin-right: 20px;
  }
  .login-page .button-row .button-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .login-page .button-row .button-container button {
    width: 100%;
    margin: 10px;
  }
}
.cell-component {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition-duration: 0.2s;
}
.cell-component:hover {
  color: rgb(0, 0, 0);
}

.cells-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 columnas con igual ancho */
  grid-template-rows: repeat(6, 1fr); /* 6 filas con igual altura */
  gap: 10px; /* Espacio entre las celdas */
  width: 100%; /* Ancho total del contenedor */
  height: 100%; /* Altura total del contenedor */
}

.score-component {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 40px;
}
.score-component header {
  display: flex;
}
.score-component header section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.score-component header section span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  font-size: large;
  font-weight: 500;
  background-color: #26A349;
}
.score-component header section .failed {
  background-color: #A71820;
}
.score-component header section h3 {
  font-size: 24px;
  font-weight: 500;
}
.score-component footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.score-component footer h3 {
  margin: 10px;
  font-size: 32px;
}

.user-container {
  background-color: #058CD7;
  position: absolute;
  padding: 2% 4%;
  padding-top: 1%;
  height: 15vh;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-container .icon {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-container .user-coord {
  background-color: #FFC567;
  font-size: 48px;
  border-radius: 10px;
  margin-top: -45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.user-container .username {
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.word-component {
  background-color: #FB7DA8;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
}

.word0 {
  animation: bounceIn 0.5s forwards 0s;
}

.word1 {
  animation: bounceIn 0.5s forwards 0.1s;
}

.word2 {
  animation: bounceIn 0.5s forwards 0.2s;
}

.word3 {
  animation: bounceIn 0.5s forwards 0.3s;
}

.word4 {
  animation: bounceIn 0.5s forwards 0.4s;
}

.word5 {
  animation: bounceIn 0.5s forwards 0.5s;
}

.words-container-component {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 2fr 1fr;
  gap: 8px; /* Adjust the gap between grid items as needed */
  width: 100%;
  margin-left: 200px;
}
.words-container-component .cell {
  background-color: #FD5A46;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
  min-height: 60px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

.words-container-component.vertical {
  grid-template-columns: 80px 100px;
  grid-template-rows: repeat(6, 1fr);
  width: 200px;
  flex-wrap: wrap;
  height: 100%;
  margin: 0;
}
.words-container-component.vertical .cell-container {
  flex-direction: row;
}/*# sourceMappingURL=index.css.map */