* {
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient(180deg, #552CB7 0%, #FFC567 100%);
}

@keyframes breath {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.root-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.root-page .main-left {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  width: 100%;
}
.root-page .main-left .clue-btn {
  animation: breath 3s infinite;
  background-color: #FB7DA8;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: none;
  font-size: 65px;
  cursor: pointer;
  transition: 0.2s;
  font-family: inherit;
}
.root-page .main-left .clue-btn:hover {
  background-color: #f5447f;
  transform: scale(0.96);
}
.root-page .main-left .clue-btn:active {
  background-color: #f70e5c;
  transform: scale(0.92);
}
.root-page .center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.root-page .center .tablero {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.1);
  width: 800px;
  border-radius: 40px;
}
.root-page .center .tablero .up {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.root-page .center .tablero .down {
  display: flex;
}
.root-page .main-right {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.login-page {
  background: rgb(253, 90, 70);
  background: linear-gradient(180deg, rgb(253, 90, 70) 35%, rgb(5, 140, 215) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.login-page .title {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 80px;
}
.login-page .title p {
  color: white;
  text-shadow: 4px 1px 1px black;
}
.login-page .image {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.login-page .image .img-login {
  width: 200px;
  border-radius: 50%;
}
.login-page .name {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.login-page .name input {
  height: 60px;
  width: 500px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.332);
  background-color: rgba(255, 255, 255, 0.16);
  text-indent: 10px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.login-page .name input::-moz-placeholder {
  font-weight: lighter;
  font-size: 20px;
}
.login-page .name input::placeholder {
  font-weight: lighter;
  font-size: 20px;
}
.login-page .button-container {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: start;
}
.login-page .button-container button {
  height: 60px;
  width: 230px;
  border-radius: 15px;
  font-size: 30px;
  font-weight: bold;
  font-family: inherit;
  text-transform: uppercase;
}
.login-page .button-container .game {
  background-color: #FB7DA8;
  margin-right: 10px;
  transition-duration: 0.2s;
}
.login-page .button-container .game:hover {
  background-color: #ffa0c0;
  height: 65px;
  width: 235px;
}
.login-page .button-container .join {
  background-color: #FFC567;
  margin-left: 10px;
  transition-duration: 0.2s;
}
.login-page .button-container .join:hover {
  background-color: #ffd48f;
  height: 65px;
  width: 235px;
}

.word-component {
  background-color: #FB7DA8;
  padding: 10px;
  border-radius: 10px;
  width: 70px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.score-component {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 40px;
}
.score-component header {
  display: flex;
}
.score-component header section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.score-component header section span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: large;
  font-weight: 500;
  background-color: #26A349;
}
.score-component header section .failed {
  background-color: #A71820;
}
.score-component header section h3 {
  font-size: 24px;
  font-weight: 500;
}
.score-component footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.score-component footer h3 {
  margin: 10px;
  font-size: 32px;
}

.cell-component {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition-duration: 0.2s;
}
.cell-component:hover {
  color: rgb(0, 0, 0);
}

.cells-container {
  display: grid;
  grid-template-columns: repeat(6, 100px); /* 6 columnas con igual ancho */
  grid-template-rows: repeat(6, 100px); /* 6 filas con igual altura */
  width: 100%; /* Ancho total del contenedor */
  height: 100%; /* Altura total del contenedor */
}

.words-container-component {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.words-container-component .cell-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.words-container-component .cell-container .cell {
  background-color: #FD5A46;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  min-width: 60px;
  min-height: 60px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

.vertical {
  width: 200px;
  flex-wrap: wrap;
}
.vertical .cell-container {
  flex-direction: row;
}
.vertical .cell-container .word-component {
  rotate: -90deg;
  margin-left: -20px;
}

.user-container {
  background-color: #058CD7;
  position: absolute;
  padding: 20px 40px;
  width: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-container .icon {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-container .user-coord {
  background-color: #FFC567;
  width: 100px;
  height: 100px;
  font-size: 64px;
  border-radius: 10px;
  margin-top: -45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.user-container .username {
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
}/*# sourceMappingURL=index.css.map */