@keyframes breath {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.root-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, #552CB7 0%, #FFC567 100%);

    .main-left {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
        width: 100%;

        .clue-btn {
            animation: breath 3s infinite;
            background-color: #fb7da8;
            width: 10vw;
            height: 10vw;
            border-radius: 50%;
            border: none;
            font-size: 4vw;
            cursor: pointer;
            transition: 0.2s;
            font-family: inherit;

            &:hover {
                background-color: #f5447f;
                transform: scale(0.96);
            }

            &:active {
                background-color: #f70e5c;
                transform: scale(0.92);
            }
        }
    }

    .center {
        //flex-grow: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .room-game {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px;
            margin: 10px 10px 30px 10px;
            background-color: #fff8fa3b;
            border-radius: 20px;
            font-size: 30px;
        }
        .room-id {
            padding-left: 10px;
            font-size: 35px;
            color: #FFF;
        }
        .tablero {
            display: flex;
            flex-direction: column;
            background-color: rgb(255, 255, 255, 0.1);
            width: 60vw;
            height: 80vh;
            border-radius: 40px;
            padding: 15px;

            .up {
                display: flex;
                width: 100%;
                justify-content: flex-end;
                margin-bottom: 10px;
            }
            .down {
                display: flex;
                height: 100%;

                .right {
                    width: 100%;
                }
            }
        }
    }

    .main-right {
        flex-grow: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
    }
}
