
.root-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .main-left {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
        width: 100%;

        .clue-btn {
            background-color: #FB7DA8;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: none;
            font-size: 50px;
            cursor: pointer;
            transition: .2s;

            &:hover {
                background-color: #444;
                transform: scale(.98);
            }
        }
    }

    .center {
        //flex-grow: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .tablero {
            display: flex;
            flex-direction: column;
            background-color: rgb(255, 255, 255,.1);
            width: 800px;
            border-radius: 40px;
            
            .up {
                display: flex;
                width: 100%;
                justify-content: flex-end;
            }
            .down {
                display: flex;
            }
            
        }
    }

    .main-right {
        flex-grow: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
    }
        
}
