.word-component {
    background-color:  #FB7DA8;
    padding: 10px;
    border-radius: 10px;
    width: 70px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}